<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/homepage.css">
        <title>圖文留言板</title>
    </head>
    <body>
        <header class="title">發表一篇圖文</header>
        <form id="newMessage">
            <label>文字內容 <input type="text" name="comment" placeholder="請輸入文字內容" required></label>
            <label>圖片檔案 <input type="file" accept="image/*" name="image" required></label>
            <input type="submit" value="送出">
        </form>
        <hr>
        <div>靜態版面</div>
        <img src="https://picsum.photos/300/400">
        <hr>
        <div>靜態版面</div>
        <img src="https://picsum.photos/300/400">
        <hr>
        <script type="text/javascript" src="homepage.js"></script>
    </body>
</html>